$base-color: #0eb493;
$navbar-nav-link-padding-y: 24px;
$font-weight-semi-bold: 600;
$span-color: #0fda93;
$headings-margin-top: 93px;
$features-icon: #27a284;
$dark-blue: #062033;
$slogan-color: #536462;
$navbar-nav-li-border: #32B0EE;
$features-bg: #f4f7f9;
$heading-span-color: #c3c6c7;
$subtitle-p-color: #6c5a63;
$facts-icon-color: #6c7781;
$contact-a-color: #79676e;
$small-title-color: #384d5c;
$contacts-info-color: #6a737b;
$footer-bg-color: #1ea78d;
$contact-links-a-color: #cdd2d6;
$textarea-placeholder-color: #adb1b6;